---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37-245d0dcb"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Response-Time:
      - 45.608ms
      X-Wf-Rid:
      - b43f04d7-5ef9-4139-a236-ff4af1fac5c1
    body:
      encoding: UTF-8
      string: '{"items":[],"count":0,"limit":100,"offset":0,"total":0}'
  recorded_at: Thu, 16 Mar 2017 19:38:51 GMT
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37-245d0dcb"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 12.684ms
      X-Wf-Rid:
      - 3943360f-b77b-4cc4-bd83-ad51f168e08e
    body:
      encoding: UTF-8
      string: '{"items":[],"count":0,"limit":100,"offset":0,"total":0}'
  recorded_at: Tue, 15 Jan 2019 18:05:37 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items?limit=100&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-5548336d"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Response-Time:
      - 6.610ms
      X-Wf-Rid:
      - 8a6571f1-98f3-49dd-ab44-8c323ae86e12
    body:
      encoding: UTF-8
      string: '{"msg":"Rate limit hit","code":400,"name":"RateLimit","path":"/collections/58c9a554a118f71a388bcc89/items","err":"RateLimit:
        Rate limit hit"}'
  recorded_at: Tue, 15 Jan 2019 21:52:49 GMT
recorded_with: VCR 4.0.0
