---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b1-e860cb2f"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '60'
      X-Response-Time:
      - 28.502ms
      X-Wf-Rid:
      - 3ca30a20-3a30-48b0-b968-4b739f00e796
    body:
      encoding: UTF-8
      string: '{"items":[{"_archived":false,"_draft":false,"name":"Test Item Name
        Update DEF","slug":"test-item-name-abc","updated-on":"2017-03-16T19:38:52.217Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2017-03-16T19:38:52.072Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"58cae9cc02523c88492bf246"}],"count":1,"limit":100,"offset":0,"total":1}'
  recorded_at: Tue, 11 Apr 2017 14:44:46 GMT
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items/58cae9cc02523c88492bf246
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b1-e860cb2f"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 27.745ms
      X-Wf-Rid:
      - 9c568d5e-06fd-47d4-8208-2a47842f6310
    body:
      encoding: UTF-8
      string: '{"items":[{"_archived":false,"_draft":false,"name":"Test Item Name
        Update DEF","slug":"test-item-name-abc","updated-on":"2017-03-16T19:38:52.217Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2017-03-16T19:38:52.072Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"58cae9cc02523c88492bf246"}],"count":1,"limit":100,"offset":0,"total":1}'
  recorded_at: Tue, 11 Apr 2017 14:44:46 GMT
recorded_with: VCR 3.0.3
