---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"unknown":"this raises
        an error"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"af-3b984f1a"
      X-Response-Time:
      - 10.586ms
      X-Wf-Rid:
      - 37cddca5-9e31-49df-a097-d526e115f02d
    body:
      encoding: UTF-8
      string: '{"msg":"''fields.name'' is required","code":400,"name":"ValidationError","path":"/collections/58c9a554a118f71a388bcc89/items","err":"ValidationError:
        ''fields.name'' is required"}'
  recorded_at: Thu, 16 Mar 2017 19:58:40 GMT
recorded_with: VCR 3.0.3
