---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"unknown":"this raises
        an error"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"af-3b984f1a"
      X-Response-Time:
      - 2.482ms
      X-Wf-Rid:
      - bac41274-50b3-430e-add5-80ddd20bf60d
    body:
      encoding: UTF-8
      string: '{"msg":"''fields.name'' is required","code":400,"name":"ValidationError","path":"/collections/58c9a554a118f71a388bcc89/items","err":"ValidationError:
        ''fields.name'' is required"}'
  recorded_at: Tue, 02 Feb 2021 11:33:14 GMT
recorded_with: VCR 5.1.0
