---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items
    body:
      encoding: UTF-8
      string: '{"fields":{"name":"Test 1","_archived":false,"_draft":false}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"15b-c83b0550"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '60'
      X-Response-Time:
      - 41.820ms
      X-Wf-Rid:
      - bd338e42-a666-4189-b9ef-d4e1074e0b09
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"Test 1","slug":"test-1","updated-on":"2019-01-15T22:32:20.637Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2019-01-15T22:32:20.637Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"5c3e5f74809ca711be32a4cb"}'
  recorded_at: Tue, 15 Jan 2019 22:32:20 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items?limit=2&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ec-8187a3cf"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '60'
      X-Response-Time:
      - 15.584ms
      X-Wf-Rid:
      - 40fd72f9-a946-4ab3-afa5-3ea33baf3a92
    body:
      encoding: UTF-8
      string: '{"items":[{"_archived":false,"_draft":false,"name":"Test 4","slug":"test-4","updated-on":"2019-01-15T22:32:21.136Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2019-01-15T22:32:21.136Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"5c3e5f7584421b35aece341a"},{"_archived":false,"_draft":false,"name":"Test
        3","slug":"test-3","updated-on":"2019-01-15T22:32:20.998Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2019-01-15T22:32:20.998Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"5c3e5f74809ca7376732a4cd"}],"count":2,"limit":2,"offset":0,"total":5}'
  recorded_at: Tue, 15 Jan 2019 22:36:04 GMT
[...]
