---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Test Item Name
        ABC"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"184-47710cfa"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 1228.224ms
      X-Wf-Rid:
      - dd162720-347f-4e22-8423-7679b06ef648
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"featured":false,"name":"Test Item
        Name ABC","slug":"test-item-name-abc","updated-on":"2021-02-02T11:33:03.834Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:03.834Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"6019386fd12b7bde038fdd35"}'
  recorded_at: Tue, 02 Feb 2021 11:33:03 GMT
- request:
    method: patch
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items/6019386fd12b7bde038fdd35
    body:
      encoding: UTF-8
      string: '{"fields":{"name":"Test Item Name Update DEF"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18b-318c8025"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 192.948ms
      X-Wf-Rid:
      - 2de82553-df94-40b6-b3bc-c34db0e64b4f
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"featured":false,"name":"Test Item
        Name Update DEF","slug":"test-item-name-abc","updated-on":"2021-02-02T11:33:04.480Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:03.834Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"6019386fd12b7bde038fdd35"}'
  recorded_at: Tue, 02 Feb 2021 11:33:04 GMT
recorded_with: VCR 5.1.0
