---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"To delete
        Test 1"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"114-83HZ7VSN1fyGQ5LlgxsxwNX2rF4"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 248.400ms
    body:
      encoding: UTF-8
      string: '{"id":"655290c2cf60d9e67056e9fc","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-11-13T21:10:26.927Z","createdOn":"2023-11-13T21:10:26.927Z","isArchived":false,"isDraft":false,"fieldData":{"name":"To
        delete Test 1","slug":"to-delete-test-1"}}'
  recorded_at: Mon, 13 Nov 2023 21:10:23 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items?limit=100&offset=0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9fe-+HbE2/zK607X/X9UAKFItuLseCM"
      Retry-After:
      - '58'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 35.601ms
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"655290c4c4dcc4d9338b5a1c","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-11-13T21:10:28.054Z","createdOn":"2023-11-13T21:10:28.054Z","isArchived":false,"isDraft":false,"fieldData":{"name":"To
        delete Test 2","slug":"to-delete-test-2"}},{"id":"655290c2cf60d9e67056e9fc","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-11-13T21:10:26.927Z","createdOn":"2023-11-13T21:10:26.927Z","isArchived":false,"isDraft":false,"fie[...]
- request:
    method: patch
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/655290c4c4dcc4d9338b5a1c
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":true,"isDraft":false}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"113-0QseK2mVWs45R872LP6pxwbRe8k"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 187.258ms
    body:
      encoding: UTF-8
      string: '{"id":"655290c4c4dcc4d9338b5a1c","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-11-13T21:25:41.166Z","createdOn":"2023-11-13T21:10:28.054Z","isArchived":true,"isDraft":false,"fieldData":{"name":"To
        delete Test 2","slug":"to-delete-test-2"}}'
  recorded_at: Mon, 13 Nov 2023 21:25:37 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: ASCII-8BIT
      string: '{"itemIds":["655290c4c4dcc4d9338b5a1c"]}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-/WB+xIWAaBcGEZm0SgOJit7Skdw"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 1338.321ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["655290c4c4dcc4d9338b5a1c"],"errors":[]}'
  recorded_at: Mon, 13 Nov 2023 21:25:39 GMT
[...]
- request:
    method: delete
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/655290c2cf60d9e67056e9fc
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - W/"a-bAsFyilMr4Ra1hIU5PyoyFRunpI"
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 481.723ms
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 13 Nov 2023 21:27:42 GMT
recorded_with: VCR 6.2.0
