---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Test Item Name
        ABC"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"186-2ba5953b"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Response-Time:
      - 77.861ms
      X-Wf-Rid:
      - 6b2cbab1-c503-4b5a-aa82-833388b410f8
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"featured":false,"name":"Test Item
        Name ABC","slug":"test-item-name-abc-6","updated-on":"2021-02-02T11:33:10.645Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:10.645Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"60193876364762414ecb0da1"}'
  recorded_at: Tue, 02 Feb 2021 11:33:10 GMT
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items/60193876364762414ecb0da1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1bd-77ce57dc"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Response-Time:
      - 35.769ms
      X-Wf-Rid:
      - bd622d67-3c67-4990-9299-5a307f64d818
    body:
      encoding: UTF-8
      string: '{"items":[{"_archived":false,"_draft":false,"featured":false,"name":"Test
        Item Name ABC","slug":"test-item-name-abc-6","updated-on":"2021-02-02T11:33:10.645Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:10.645Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"60193876364762414ecb0da1"}],"count":1,"limit":100,"offset":0,"total":6}'
  recorded_at: Tue, 02 Feb 2021 11:33:11 GMT
recorded_with: VCR 5.1.0
