---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"unknown":"this raises
        an error"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9c-qKnYPBdHpCPRxyGgwUzdygnEbaE"
      Retry-After:
      - '6'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '19'
      X-Response-Time:
      - 16.567ms
    body:
      encoding: UTF-8
      string: '{"message":"Validation Error: [\"Value (fieldData) should have required
        property ''name''\"]","code":"validation_error","externalReference":null,"details":[]}'
  recorded_at: Tue, 05 Dec 2023 16:31:58 GMT
recorded_with: VCR 6.2.0
