---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Test Item Name
        ABC LIVE"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c1-4c183f7a"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Response-Time:
      - 155.019ms
      X-Wf-Rid:
      - d3fd10b2-bd33-46c1-8766-878ce1d94cd2
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"featured":false,"name":"Test Item
        Name ABC LIVE","slug":"test-item-name-abc-live","updated-on":"2021-02-02T11:33:12.226Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:12.226Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":"2021-02-02T11:33:12.226Z","published-by":"Person_58c996964e6fd9182228b62b","_cid":"58c9a554a118f71a388bcc89","_id":"60193878b0346e5811bb51e6"}'
  recorded_at: Tue, 02 Feb 2021 11:33:12 GMT
- request:
    method: patch
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items/60193878b0346e5811bb51e6?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"name":"Test Item Name Update DEF LIVE"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c8-4a47eef6"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Response-Time:
      - 180.120ms
      X-Wf-Rid:
      - '009f81a9-47c1-498d-952a-b29daae476dd'
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"featured":false,"name":"Test Item
        Name Update DEF LIVE","slug":"test-item-name-abc-live","updated-on":"2021-02-02T11:33:12.842Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:12.226Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":"2021-02-02T11:33:12.842Z","published-by":"Person_58c996964e6fd9182228b62b","_cid":"58c9a554a118f71a388bcc89","_id":"60193878b0346e5811bb51e6"}'
  recorded_at: Tue, 02 Feb 2021 11:33:12 GMT
recorded_with: VCR 5.1.0
