---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items?limit=100&offset=0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14e2-OKZPJFHNJwvJQz2WcbB1D2Y6RWM"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 35.322ms
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"656f507cf7f45102c817f86a","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T17:06:26.083Z","lastUpdated":"2023-12-05T16:31:56.997Z","createdOn":"2023-12-05T16:31:56.113Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name ABC","slug":"test-item-name-abc-1c78a"}},{"id":"656f505bd83bd52fe7d56688","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:32.385Z","lastUpdated":"2023-12-05T16:31:29.460Z","createdOn":"2023-12-05T16:31:23.936Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name Update DEF LIVE","slug":"test-item-name-abc-live-d2192"}},{"id":"656f50556fbd03baed77208e","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:32.385Z","lastUpdated":"2023-[...]
