---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test 1"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"106-z03hVwTUkXDuwiUD+++/KU+xYNM"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 254.370ms
    body:
      encoding: UTF-8
      string: '{"id":"656f50481d68c2857ff34139","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-12-05T16:31:04.673Z","createdOn":"2023-12-05T16:31:04.673Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        1","slug":"test-1-c8416"}}'
  recorded_at: Tue, 05 Dec 2023 16:31:04 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: ASCII-8BIT
      string: '{"itemIds":["656f50481d68c2857ff34139"]}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-RuXthUo4pPVqfDDtryBYAugYJbk"
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 332.494ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656f50481d68c2857ff34139"],"errors":[]}'
  recorded_at: Tue, 05 Dec 2023 16:31:05 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items?limit=3&offset=0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"391-Z+KX7XygG/jgbxf/EaOPcfupgpo"
      Retry-After:
      - '49'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Response-Time:
      - 34.142ms
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"656f50509583cb3bf2d4cd39","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:13.743Z","lastUpdated":"2023-12-05T16:31:13.743Z","createdOn":"2023-12-05T16:31:12.763Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        4","slug":"test-4-e35c6"}},{"id":"656f504e6643aa94d9143925","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:11.707Z","lastUpdated":"2023-12-05T16:31:11.707Z","createdOn":"2023-12-05T16:31:10.575Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        3","slug":"test-3-ec739"}},{"id":"656f504a73c0f62eca242006","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:08.060Z","lastUpdated":"2023-12-05T16:31:08.060Z","createdOn":"2023-12-05T16:31:06.627Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        2","slug":"test-2-2de0d"}}],"pagination":{"limit":3,"offset":0,"total":15}}'
  recorded_at: Tue, 05 Dec 2023 16:31:14 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items?limit=2&offset=2
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"274-DSj2ssHub52AOjgNAC2OLBvAzkA"
      Retry-After:
      - '48'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Response-Time:
      - 50.085ms
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"656f504a73c0f62eca242006","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:08.060Z","lastUpdated":"2023-12-05T16:31:08.060Z","createdOn":"2023-12-05T16:31:06.627Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        2","slug":"test-2-2de0d"}},{"id":"656f50481d68c2857ff34139","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:05.599Z","lastUpdated":"2023-12-05T16:31:05.599Z","createdOn":"2023-12-05T16:31:04.673Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        1","slug":"test-1-c8416"}}],"pagination":{"limit":2,"offset":2,"total":15}}'
  recorded_at: Tue, 05 Dec 2023 16:31:16 GMT
recorded_with: VCR 6.2.0
