---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test 1"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"100-p8wbOAvWtQlpqnNtSvvF7tg4na0"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 751.962ms
    body:
      encoding: UTF-8
      string: '{"id":"65528eadb4467c711db60ce4","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-11-13T21:01:33.630Z","createdOn":"2023-11-13T21:01:33.630Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        1","slug":"test-1"}}'
  recorded_at: Mon, 13 Nov 2023 21:01:30 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items?limit=2&offset=0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23b-qOHSVa8xaPDhnSQZBaqVvPQ0Qi0"
      Retry-After:
      - '54'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 32.354ms
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"65528eb3b4467c711db6112a","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-11-13T21:01:39.716Z","createdOn":"2023-11-13T21:01:39.716Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        4","slug":"test-4"}},{"id":"65528eb26a676a3a54527743","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-11-13T21:01:38.851Z","createdOn":"2023-11-13T21:01:38.851Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        3","slug":"test-3"}}],"pagination":{"limit":2,"offset":0,"total":7}}'
  recorded_at: Mon, 13 Nov 2023 21:01:36 GMT
[...]
