---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites/58c9a534b6b690592691fe96/collections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1-c4a4d918"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Response-Time:
      - 24.597ms
      X-Wf-Rid:
      - e082a377-4e65-4a99-918f-360356a80a99
    body:
      encoding: UTF-8
      string: '[{"_id":"58c9a554a118f71a388bcc89","lastUpdated":"2021-02-02T11:32:19.796Z","createdOn":"2017-03-15T20:34:28.120Z","name":"Blog
        Posts","slug":"post","singularName":"Blog Post"}]'
  recorded_at: Tue, 02 Feb 2021 11:33:16 GMT
recorded_with: VCR 5.1.0
