---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items?limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37-245d0dcb"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Response-Time:
      - 45.608ms
      X-Wf-Rid:
      - b43f04d7-5ef9-4139-a236-ff4af1fac5c1
    body:
      encoding: UTF-8
      string: '{"items":[],"count":0,"limit":100,"offset":0,"total":0}'
  recorded_at: Thu, 16 Mar 2017 19:38:51 GMT
recorded_with: VCR 3.0.3
