---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"SomeName","field_with_validation":"sh\nrt"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"360-bdbeed3a"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 640.403ms
      X-Wf-Rid:
      - 5b14d74a-5a10-4d13-a72c-017a0bc72d85
    body:
      encoding: UTF-8
      string: '{"msg":"Validation Failure","code":400,"name":"ValidationError","path":"/collections/58c9a554a118f71a388bcc89/items","err":"ValidationError:
        Validation Failure","problems":["Field ''field_with_validation'': Field not
        described in schema"],"problem_data":[{"slug":"field_with_validation","msg":"Field
        not described in schema"}],"extensions":{"input":{"collection_id":{"_bsontype":"ObjectID","id":{"0":88,"1":201,"2":165,"3":84,"4":161,"5":24,"6":247,"7":26,"8":56,"9":139,"10":204,"11":137}},"item_id":null,"target":"staging","mode":"staging","need_staging":true,"need_live":false,"need_collections":false,"need_staging_draft":false,"isPatchMode":false,"isSilentMode":false,"skipInvalidFiles":false},"meta":{"authType":"oauth_user","userId":{"_bsontype":"ObjectID","id":{"0":88,"1":201,"2":150,"3":150,"4":78,"5":111,"6":217,"7":24,"8":34,"9":40,"10":182,"11":43}}}}}'
  recorded_at: Tue, 02 Feb 2021 11:33:05 GMT
recorded_with: VCR 5.1.0
