---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test Item
        Name ABC"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-PkNzdwlaL8WJ0jkH2I/7v3ikKRo"
      Retry-After:
      - '8'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '22'
      X-Response-Time:
      - 246.735ms
    body:
      encoding: UTF-8
      string: '{"id":"656f507cf7f45102c817f86a","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-12-05T16:31:56.113Z","createdOn":"2023-12-05T16:31:56.113Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name ABC","slug":"test-item-name-abc-1c78a"}}'
  recorded_at: Tue, 05 Dec 2023 16:31:55 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: ASCII-8BIT
      string: '{"itemIds":["656f507cf7f45102c817f86a"]}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-c6pS2XZ4kabPvJLI1Bzx27fnH7U"
      Retry-After:
      - '7'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '21'
      X-Response-Time:
      - 346.824ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656f507cf7f45102c817f86a"],"errors":[]}'
  recorded_at: Tue, 05 Dec 2023 16:31:56 GMT
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/656f507cf7f45102c817f86a
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"134-a15dxfdFuSfEQ+YrC0G1AsC9c7w"
      Retry-After:
      - '6'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '20'
      X-Response-Time:
      - 43.344ms
    body:
      encoding: UTF-8
      string: '{"id":"656f507cf7f45102c817f86a","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:56.997Z","lastUpdated":"2023-12-05T16:31:56.997Z","createdOn":"2023-12-05T16:31:56.113Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name ABC","slug":"test-item-name-abc-1c78a"}}'
  recorded_at: Tue, 05 Dec 2023 16:31:57 GMT
recorded_with: VCR 6.2.0
