---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2c4-sRlUBg/dMFwNASRI+vxIUeGtNlU"
      Retry-After:
      - '11'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 30.810ms
    body:
      encoding: UTF-8
      string: '{"id":"655276efe9424bcefd3231a2","displayName":"Articles","singularName":"Article","slug":"article","createdOn":"2023-11-13T19:20:15.757Z","lastUpdated":"2023-11-13T19:20:15.981Z","fields":[{"id":"22a8ad5101259ea65542bfd3e4db2fdf","isEditable":true,"isRequired":true,"type":"PlainText","slug":"name","displayName":"Name","helpText":null,"validations":{"maxLength":256}},{"id":"2ceee21fc7b5c71c4f8d1cfdbdc98c34","isEditable":true,"isRequired":true,"type":"PlainText","slug":"slug","displayName":"Slug","helpText":null,"validations":{"maxLength":256,"pattern":{},"messages":{"pattern":"Must
        be alphanumerical and not contain any spaces or special characters","maxLength":"Must
        be less than 256 characters"}}}]}'
  recorded_at: Mon, 13 Nov 2023 20:35:47 GMT
recorded_with: VCR 6.2.0
