---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Test Item Name
        ABC"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"176-8cb1de01"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Response-Time:
      - 52.097ms
      X-Wf-Rid:
      - b797db53-6a9c-4226-899d-de5c74a7f1e3
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"Test Item Name ABC","slug":"test-item-name-abc-bc","updated-on":"2020-04-06T21:47:11.371Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2020-04-06T21:47:11.371Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"5e8ba35f4b5cbe7e20f2d010"}'
  recorded_at: Mon, 06 Apr 2020 21:47:11 GMT
- request:
    method: patch
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items/5e8ba35f4b5cbe7e20f2d010
    body:
      encoding: UTF-8
      string: '{"fields":{"name":"Test Item Name Update DEF"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17d-7fa521a5"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Response-Time:
      - 110.039ms
      X-Wf-Rid:
      - 397cc20d-5efc-4a1c-8ea3-d8189dc54d7b
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"Test Item Name Update DEF","slug":"test-item-name-abc-bc","updated-on":"2020-04-06T21:47:11.814Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2020-04-06T21:47:11.371Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"5e8ba35f4b5cbe7e20f2d010"}'
  recorded_at: Mon, 06 Apr 2020 21:47:11 GMT
recorded_with: VCR 5.0.0
