---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Test Item Name
        ABC LIVE"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b2-85db5cf9"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 87.220ms
      X-Wf-Rid:
      - 60b6d748-5e0f-4ea9-98cc-64bdc99faa47
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"Test Item Name ABC LIVE","slug":"test-item-name-abc-live-0","updated-on":"2020-04-06T21:47:10.527Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2020-04-06T21:47:10.527Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":"2020-04-06T21:47:10.527Z","published-by":"Person_58c996964e6fd9182228b62b","_cid":"58c9a554a118f71a388bcc89","_id":"5e8ba35ea54f331a03295019"}'
  recorded_at: Mon, 06 Apr 2020 21:47:10 GMT
- request:
    method: patch
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items/5e8ba35ea54f331a03295019?live=true
    body:
      encoding: UTF-8
      string: '{"fields":{"name":"Test Item Name Update DEF LIVE"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b9-b96d5c75"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 65.176ms
      X-Wf-Rid:
      - 924c2dcb-1aaa-4a19-b111-8c37a06b794a
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"Test Item Name Update DEF
        LIVE","slug":"test-item-name-abc-live-0","updated-on":"2020-04-06T21:47:10.926Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2020-04-06T21:47:10.527Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":"2020-04-06T21:47:10.926Z","published-by":"Person_58c996964e6fd9182228b62b","_cid":"58c9a554a118f71a388bcc89","_id":"5e8ba35ea54f331a03295019"}'
  recorded_at: Mon, 06 Apr 2020 21:47:11 GMT
recorded_with: VCR 5.0.0
