---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"To delete
        Test 1"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"114-uykJ4cezrDL/iZonDq1peUnJG4Q"
      Retry-After:
      - '29'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Response-Time:
      - 227.274ms
    body:
      encoding: UTF-8
      string: '{"id":"656f5067784d1739e15e59eb","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-12-05T16:31:35.195Z","createdOn":"2023-12-05T16:31:35.195Z","isArchived":false,"isDraft":false,"fieldData":{"name":"To
        delete Test 1","slug":"to-delete-test-1"}}'
  recorded_at: Tue, 05 Dec 2023 16:31:34 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: ASCII-8BIT
      string: '{"itemIds":["656f5067784d1739e15e59eb"]}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-kmDNFsbIjEnGHM0rJ3ILa0YLh0A"
      Retry-After:
      - '28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '33'
      X-Response-Time:
      - 4871.207ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656f5067784d1739e15e59eb"],"errors":[]}'
  recorded_at: Tue, 05 Dec 2023 16:31:40 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items?limit=100&offset=0
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1603-gbVGc52P/VK1ukXKJhF/CodCmsE"
      Retry-After:
      - '20'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Response-Time:
      - 159.453ms
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"656f506dd47c3070f03636d5","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:42.741Z","lastUpdated":"2023-12-05T16:31:42.741Z","createdOn":"2023-12-05T16:31:41.776Z","isArchived":false,"isDraft":false,"fieldData":{"name":"To
        delete Test 2","slug":"to-delete-test-2"}},{"id":"656f5067784d1739e15e59eb","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:37.787Z","lastUpdated":"2023-12-05T16:31:37.787Z","createdOn":"2023-12-05T16:31:35.1[...]
- request:
    method: patch
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/656f506dd47c3070f03636d5
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":true,"isDraft":false}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"129-j2fjU5qmb39RkhUMvhmIyErXvSE"
      Retry-After:
      - '19'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '29'
      X-Response-Time:
      - 142.537ms
    body:
      encoding: UTF-8
      string: '{"id":"656f506dd47c3070f03636d5","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:42.741Z","lastUpdated":"2023-12-05T16:31:45.005Z","createdOn":"2023-12-05T16:31:41.776Z","isArchived":true,"isDraft":false,"fieldData":{"name":"To
        delete Test 2","slug":"to-delete-test-2"}}'
  recorded_at: Tue, 05 Dec 2023 16:31:44 GMT
[...]
- request:
    method: delete
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/656f5067784d1739e15e59eb
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - W/"a-bAsFyilMr4Ra1hIU5PyoyFRunpI"
      Retry-After:
      - '10'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '24'
      X-Response-Time:
      - 252.716ms
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 05 Dec 2023 16:31:54 GMT
recorded_with: VCR 6.2.0
