---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test Item
        Name ABC LIVE"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"122-x8ai56kgJbB8aN8y0C5GHTRlXMo"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 793.169ms
    body:
      encoding: UTF-8
      string: '{"id":"65528c766739085e2211c99a","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-11-13T20:52:06.030Z","createdOn":"2023-11-13T20:52:06.030Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name ABC LIVE","slug":"test-item-name-abc-live"}}'
  recorded_at: Mon, 13 Nov 2023 20:52:02 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: ASCII-8BIT
      string: '{"itemIds":["65528c766739085e2211c99a"]}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-RwpInfMnAHUN1ar7/pqnKTTqDZE"
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 1266.181ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["65528c766739085e2211c99a"],"errors":[]}'
  recorded_at: Mon, 13 Nov 2023 20:52:04 GMT
- request:
    method: patch
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/65528c766739085e2211c99a
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test Item
        Name Update DEF LIVE"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13f-lqk5fEFCiXvbF+DRwSlYRnBIQao"
      Retry-After:
      - '57'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Response-Time:
      - 322.919ms
    body:
      encoding: UTF-8
      string: '{"id":"65528c766739085e2211c99a","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-11-13T20:52:08.002Z","lastUpdated":"2023-11-13T20:52:08.946Z","createdOn":"2023-11-13T20:52:06.030Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name Update DEF LIVE","slug":"test-item-name-abc-live"}}'
  recorded_at: Mon, 13 Nov 2023 20:52:05 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: ASCII-8BIT
      string: '{"itemIds":["65528c766739085e2211c99a"]}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-RwpInfMnAHUN1ar7/pqnKTTqDZE"
      Retry-After:
      - '56'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Response-Time:
      - 203.424ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["65528c766739085e2211c99a"],"errors":[]}'
  recorded_at: Mon, 13 Nov 2023 20:52:06 GMT
recorded_with: VCR 6.2.0
