---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items
    body:
      encoding: UTF-8
      string: '{"fields":{"name":"Test 1","_archived":false,"_draft":false}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16c-f946cc2e"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Response-Time:
      - 115.899ms
      X-Wf-Rid:
      - 8ac9c793-b68f-49b6-a878-e5391d787fdb
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"featured":false,"name":"Test 1","slug":"test-1","updated-on":"2021-02-02T11:33:06.902Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:06.902Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"60193872bcb3161d9293b402"}'
  recorded_at: Tue, 02 Feb 2021 11:33:07 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items?limit=3&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1E4Nv1AS9fCVU8thB43ccA=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Response-Time:
      - 407.878ms
      X-Wf-Rid:
      - 3b2d17d9-c21d-42a5-9118-adf18dd70f56
    body:
      encoding: UTF-8
      string: '{"items":[{"_archived":false,"_draft":false,"featured":false,"name":"Test
        4","slug":"test-4","updated-on":"2021-02-02T11:33:08.748Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:08.748Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"6019387499d30e4464da509c"},{"_archived":false,"_draft":false,"featured":false,"name":"Test
        3","slug":"test-3","updated-on":"2021-02-02T11:33:08.196Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:08.196Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"601938741ef05c54f6481426"},{"_archived":false,"_draft":false,"featured":false,"name":"Test
        2","slug":"test-2","updated-on":"2021-02-02T11:33:07.640Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:07.640Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"60193873dc3343eb0e7148f3"}],"count":3,"limit":3,"offset":0,"total":5}'
  recorded_at: Tue, 02 Feb 2021 11:33:09 GMT
[...]
