---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test Item
        Name ABC LIVE"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"128-1IkbKqq1pvsEflEppMZJcR62U/E"
      Retry-After:
      - '40'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Response-Time:
      - 272.640ms
    body:
      encoding: UTF-8
      string: '{"id":"656f505bd83bd52fe7d56688","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-12-05T16:31:23.936Z","createdOn":"2023-12-05T16:31:23.936Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name ABC LIVE","slug":"test-item-name-abc-live-d2192"}}'
  recorded_at: Tue, 05 Dec 2023 16:31:23 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: ASCII-8BIT
      string: '{"itemIds":["656f505bd83bd52fe7d56688"]}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-B2tqWXUkmtHJOr2AU85cWtPKHAY"
      Retry-After:
      - '39'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Response-Time:
      - 2804.002ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656f505bd83bd52fe7d56688"],"errors":[]}'
  recorded_at: Tue, 05 Dec 2023 16:31:27 GMT
- request:
    method: patch
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/656f505bd83bd52fe7d56688
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test Item
        Name Update DEF LIVE"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"145-E/baJwjgsofC2JJvOdncstyF6YU"
      Retry-After:
      - '36'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Response-Time:
      - 137.147ms
    body:
      encoding: UTF-8
      string: '{"id":"656f505bd83bd52fe7d56688","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:25.604Z","lastUpdated":"2023-12-05T16:31:28.628Z","createdOn":"2023-12-05T16:31:23.936Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name Update DEF LIVE","slug":"test-item-name-abc-live-d2192"}}'
  recorded_at: Tue, 05 Dec 2023 16:31:28 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: ASCII-8BIT
      string: '{"itemIds":["656f505bd83bd52fe7d56688"]}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-B2tqWXUkmtHJOr2AU85cWtPKHAY"
      Retry-After:
      - '35'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Response-Time:
      - 310.129ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656f505bd83bd52fe7d56688"],"errors":[]}'
  recorded_at: Tue, 05 Dec 2023 16:31:29 GMT
recorded_with: VCR 6.2.0
