---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/sites
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"170-c8feaae0"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 41.049ms
      X-Wf-Rid:
      - b7cc9db7-fff9-428e-9ce1-e50d5f53c830
    body:
      encoding: UTF-8
      string: '[{"_id":"58c9a534b6b690592691fe96","createdOn":"2017-03-15T20:33:56.416Z","name":"Test
        Site","shortName":"webflow-ruby-test-site","lastPublished":"2021-02-02T11:32:47.932Z","previewUrl":"https://screenshots.webflow.com/sites/58c9a534b6b690592691fe96/20210202111459_29d11d58ef7e09e2d27a2d0664005d75.png","timezone":"Europe/Paris","database":"58c9a553369191207daa2f22"}]'
  recorded_at: Tue, 02 Feb 2021 11:33:02 GMT
recorded_with: VCR 5.1.0
