---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test Item
        Name ABC"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-BVdMZxhRuvOECPbMiG1SMa2Fa0k"
      Retry-After:
      - '47'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Response-Time:
      - 612.353ms
    body:
      encoding: UTF-8
      string: '{"id":"656f50556fbd03baed77208e","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-12-05T16:31:17.859Z","createdOn":"2023-12-05T16:31:17.859Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name ABC","slug":"test-item-name-abc-df1d4"}}'
  recorded_at: Tue, 05 Dec 2023 16:31:17 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: ASCII-8BIT
      string: '{"itemIds":["656f50556fbd03baed77208e"]}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-wRzzyQ4KqwXX39dftDu/ckNMqYw"
      Retry-After:
      - '46'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Response-Time:
      - 1191.940ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656f50556fbd03baed77208e"],"errors":[]}'
  recorded_at: Tue, 05 Dec 2023 16:31:19 GMT
- request:
    method: patch
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/656f50556fbd03baed77208e
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test Item
        Name Update DEF"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13b-ZU8PNrEM7nxdsQkVUo7Dn6pNvdo"
      Retry-After:
      - '44'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Response-Time:
      - 110.671ms
    body:
      encoding: UTF-8
      string: '{"id":"656f50556fbd03baed77208e","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-05T16:31:18.800Z","lastUpdated":"2023-12-05T16:31:20.609Z","createdOn":"2023-12-05T16:31:17.859Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name Update DEF","slug":"test-item-name-abc-df1d4"}}'
  recorded_at: Tue, 05 Dec 2023 16:31:20 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: ASCII-8BIT
      string: '{"itemIds":["656f50556fbd03baed77208e"]}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-wRzzyQ4KqwXX39dftDu/ckNMqYw"
      Retry-After:
      - '43'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Response-Time:
      - 1035.459ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656f50556fbd03baed77208e"],"errors":[]}'
  recorded_at: Tue, 05 Dec 2023 16:31:21 GMT
recorded_with: VCR 6.2.0
