---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/655276a1c36e738ce983a307/collections
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"176-1Yc6YkUGd+F0NyYRwpbaLu6roCQ"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 69.426ms
    body:
      encoding: UTF-8
      string: '{"collections":[{"id":"655276efe9424bcefd3231a2","displayName":"Articles","singularName":"Article","slug":"article","createdOn":"2023-11-13T19:20:15.757Z","lastUpdated":"2023-11-13T19:20:15.981Z"},{"id":"655276fb4b26c186e23ac851","displayName":"Stories","singularName":"Story","slug":"story","createdOn":"2023-11-13T19:20:27.389Z","lastUpdated":"2023-11-13T19:20:27.585Z"}]}'
  recorded_at: Tue, 05 Dec 2023 16:31:03 GMT
recorded_with: VCR 6.2.0
