---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items?limit=100&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7QJa5/Jufg3bt1z+x6prcg=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Response-Time:
      - 170.116ms
      X-Wf-Rid:
      - 6e3f6a9a-fc1b-4c4c-8c4b-d3044ffbf8f9
    body:
      encoding: UTF-8
      string: '{"items":[{"_archived":false,"_draft":false,"featured":false,"name":"Test
        Item Name Update DEF LIVE","slug":"test-item-name-abc-live","updated-on":"2021-02-02T11:33:12.842Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:12.226Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":"2021-02-02T11:33:12.842Z","published-by":"Person_58c996964e6fd9182228b62b","_cid":"58c9a554a118f71a388bcc89","_id":"60193878b0346e5811bb51e6"},{"_archived":false,"_draft":false,"featured":false,"name":"Test
        Item Name ABC","slug":"test-item-name-abc-6","updated-on":"2021-02-02T11:33:10.645Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2021-02-02T11:33:10.645Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":"2021-02-02T11:33:14.311Z","published-by":"Person_58c996964e6fd9182228b62b","_cid":"58c9a554a118f71a388bcc89","_id":"60193876364762414ecb0da1"},{"_archived":false,"_d[...]
- request:
    method: delete
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items/60193878b0346e5811bb51e6
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e-dad11a87"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Response-Time:
      - 1501.045ms
      X-Wf-Rid:
      - f376a6ee-cf43-42f8-a33f-0c50bcca8761
    body:
      encoding: UTF-8
      string: '{"deleted":{}}'
  recorded_at: Tue, 02 Feb 2021 11:33:18 GMT
[...]
- request:
    method: delete
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items/6019386fd12b7bde038fdd35
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e-dad11a87"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '33'
      X-Response-Time:
      - 178.017ms
      X-Wf-Rid:
      - aedbafbd-9d49-42b1-8164-e2a6a9472bd7
    body:
      encoding: UTF-8
      string: '{"deleted":{}}'
  recorded_at: Tue, 02 Feb 2021 11:33:22 GMT
recorded_with: VCR 5.1.0
