---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/655276a1c36e738ce983a307
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1e7-WMYE6OseTv5695UjIat4FNNtNc8"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 447.212ms
    body:
      encoding: UTF-8
      string: '{"id":"655276a1c36e738ce983a307","workspaceId":"62a86f707955eb1a75d81328","displayName":"Webflow
        API and Sync test site","shortName":"webflow-api-and-sync-test-site","previewUrl":"https://screenshots.webflow.com/sites/655276a1c36e738ce983a307/20231205163133_35e6ac0b670dfaf197fb33fd1b4d2a14.png","timeZone":"America/Buenos_Aires","createdOn":"2023-11-13T19:18:57.978Z","lastUpdated":"2023-12-05T16:31:44.728Z","lastPublished":"2023-12-05T16:31:32.979Z","customDomains":[],"locales":null}'
  recorded_at: Tue, 05 Dec 2023 16:42:02 GMT
recorded_with: VCR 6.2.0
