---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f3-LnoEwTh3VZ3ZjQtXa21gyYskvPM"
      Retry-After:
      - '41'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Response-Time:
      - 50.074ms
    body:
      encoding: UTF-8
      string: '{"sites":[{"id":"655276a1c36e738ce983a307","workspaceId":"62a86f707955eb1a75d81328","displayName":"Webflow
        API and Sync test site","shortName":"webflow-api-and-sync-test-site","previewUrl":"https://screenshots.webflow.com/sites/655276a1c36e738ce983a307/20231113204235_21ad2a7483ea1b4364cfe95f4203b843.png","timeZone":"America/Buenos_Aires","createdOn":"2023-11-13T19:18:57.978Z","lastUpdated":"2023-12-05T16:25:46.791Z","lastPublished":"2023-11-13T20:51:39.819Z","customDomains":[],"locales":null}]}'
  recorded_at: Tue, 05 Dec 2023 16:31:22 GMT
recorded_with: VCR 6.2.0
