---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/v2/sites/655276a1c36e738ce983a307/collections
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60-DpTm+bsK1EMeVvVQjd2eOIvXDxo"
      Retry-After:
      - '8'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '0'
      X-Response-Time:
      - 76.191ms
    body:
      encoding: UTF-8
      string: '{"message":"Too Many Requests","code":"too_many_requests","externalReference":null,"details":[]}'
  recorded_at: Mon, 13 Nov 2023 21:32:43 GMT
recorded_with: VCR 6.2.0
