---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test Item
        Name ABC"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-c3f+McQk9wj8Bvfbz8FhUz/+/No"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 767.498ms
    body:
      encoding: UTF-8
      string: '{"id":"65528cd9adbbc05fc356d5a9","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-11-13T20:53:45.953Z","createdOn":"2023-11-13T20:53:45.953Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name ABC","slug":"test-item-name-abc-0bde6"}}'
  recorded_at: Mon, 13 Nov 2023 20:53:42 GMT
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/65528cd9adbbc05fc356d5a9
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-c3f+McQk9wj8Bvfbz8FhUz/+/No"
      Retry-After:
      - '59'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 33.815ms
    body:
      encoding: UTF-8
      string: '{"id":"65528cd9adbbc05fc356d5a9","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-11-13T20:53:45.953Z","createdOn":"2023-11-13T20:53:45.953Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        Item Name ABC","slug":"test-item-name-abc-0bde6"}}'
  recorded_at: Mon, 13 Nov 2023 20:53:43 GMT
recorded_with: VCR 6.2.0
