---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Test Item Name
        ABC"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"173-cc9d58e8"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Response-Time:
      - 54.942ms
      X-Wf-Rid:
      - 8dc8f8d1-6ed9-4e06-997e-699dc9a8a3fe
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"Test Item Name ABC","slug":"test-item-name-abc","updated-on":"2017-03-16T19:38:52.072Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2017-03-16T19:38:52.072Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"58cae9cc02523c88492bf246"}'
  recorded_at: Thu, 16 Mar 2017 19:38:52 GMT
- request:
    method: put
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89/items/58cae9cc02523c88492bf246
    body:
      encoding: UTF-8
      string: '{"fields":{"_archived":false,"_draft":false,"name":"Test Item Name
        ABC","slug":"test-item-name-abc","name":"Test Item Name Update DEF"}}'
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Content-Type:
      - application/json
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"17a-fb66147"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Response-Time:
      - 39.066ms
      X-Wf-Rid:
      - 2fe58a4f-2d69-4b0e-8197-71925cf781a1
    body:
      encoding: UTF-8
      string: '{"_archived":false,"_draft":false,"name":"Test Item Name Update DEF","slug":"test-item-name-abc","updated-on":"2017-03-16T19:38:52.217Z","updated-by":"Person_58c996964e6fd9182228b62b","created-on":"2017-03-16T19:38:52.072Z","created-by":"Person_58c996964e6fd9182228b62b","published-on":null,"published-by":null,"_cid":"58c9a554a118f71a388bcc89","_id":"58cae9cc02523c88492bf246"}'
  recorded_at: Thu, 16 Mar 2017 19:38:52 GMT
recorded_with: VCR 3.0.3
