---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: ASCII-8BIT
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"SomeName","field_with_validation":"sh\nrt"}}'
    headers:
      Authorization:
      - Bearer <TEST_API_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b8-Ep/mmdZnWXLKW/fDZmhsVAm6yQM"
      Retry-After:
      - '32'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '36'
      X-Response-Time:
      - 76.009ms
    body:
      encoding: UTF-8
      string: '{"message":"Validation Error","code":"validation_error","externalReference":null,"details":[{"param":"field_with_validation","description":"Field
        not described in schema: undefined"}]}'
  recorded_at: Tue, 05 Dec 2023 16:31:32 GMT
recorded_with: VCR 6.2.0
