---
http_interactions:
- request:
    method: get
    uri: https://api.webflow.com/collections/58c9a554a118f71a388bcc89
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 1f0da5c9368af9cb2dcd65d22a6600a8ffa069f70729e129a09787203bc2c2be
      Accept-Version:
      - 1.0.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"Lqnaob6CWI20P06iA2yuhQ=="
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Response-Time:
      - 58.833ms
      X-Wf-Rid:
      - ec321d1e-2ae0-414f-ba2c-e167e136d537
    body:
      encoding: UTF-8
      string: '{"_id":"58c9a554a118f71a388bcc89","lastUpdated":"2021-02-02T11:32:19.796Z","createdOn":"2017-03-15T20:34:28.120Z","name":"Blog
        Posts","slug":"post","singularName":"Blog Post","fields":[{"name":"Post Body","slug":"post-body","type":"RichText","required":false,"editable":true,"helpText":"","id":"5d91c55d1cf90b0b669e434115eb0ec8","validations":{}},{"name":"Post
        Summary","slug":"post-summary","type":"PlainText","required":false,"editable":true,"helpText":"A
        summary of the blog post that appears on blog post grid","id":"8bf53af33d1dad80e3f8fcfd8da2b0be","validations":{"singleLine":false}},{"name":"Main
        Image","slug":"main-image","type":"ImageRef","required":false,"editable":true,"helpText":"","id":"0ec11335663ab972b9679200e9b3d169","validations":{}},{"name":"Thumbnail
        image","slug":"thumbnail-image","type":"ImageRef","required":false,"editable":true,"helpText":"Smaller
        version of main image that is used on blog post grid","id":"9b12afe78b4ec83d4ed23841884a298e","validations":{}},{"name":"Featured?","slug":"featured","type":"Bool","required":false,"editable":true,"helpText":"","id":"9a3de588748751a5ab41f3b7232d730c","validations":{}},{"name":"Color","slug":"color","type":"Color","required":false,"editable":true,"helpText":"","id":"b2780475ff86839f9e9a589e3ee9a7c7","validations":{}},{"name":"field_with_validation","slug":"field-with-validation","type":"PlainText","required":false,"editable":true,"helpText":"","id":"97b2f13245c866e130533976279a269f","validations":{"singleLine":true,"minLength":10,"maxLength":100}},{"name":"Name","slug":"name","type":"PlainText","required":true,"editable":true,"id":"ea73b2b412e99fc54c0ab512948d6091","validations":{"maxLength":256}},{"name":"Slug","slug":"slug","type":"PlainText","required":true,"editable":true,"unique":true,"id":"85e7ad30032fe5ef591426bbf9608ea5","validations":{"maxLength":256,"pattern":{},"messages":{"pattern":"Must
        be alphanumerical and not contain any spaces or special characters","maxLength":"Must
        be less than 256 characters"}}},{"name":"Archived","slug":"_archived","type":"Bool","required":true,"editable":true,"id":"05664912d168da21c876b64bf7a7b57f","default":false},{"name":"Draft","slug":"_draft","type":"Bool","required":true,"editable":true,"id":"4ef78b3f6bbb3a31820a41fead6c832d","default":false},{"name":"Created
        On","slug":"created-on","type":"Date","required":false,"editable":false,"id":"6cc6b9ae64759a93c1f04e2180ee4777"},{"name":"Updated
        On","slug":"updated-on","type":"Date","required":false,"editable":false,"id":"b84c55380174042f8ae954951401c98d"},{"name":"Published
        On","slug":"published-on","type":"Date","required":false,"editable":false,"id":"9372d19e9aa8201211286cff7b5cd185"},{"name":"Created
        By","slug":"created-by","type":"User","required":false,"editable":false,"id":"1e2bc0ddebbb7b4235d4afcc8583cbf5"},{"name":"Updated
        By","slug":"updated-by","type":"User","required":false,"editable":false,"id":"efd7156826bc17ddc4acbb995cfc6caf"},{"name":"Published
        By","slug":"published-by","type":"User","required":false,"editable":false,"id":"b12147b67595264ae97deac30ff19541"}]}'
  recorded_at: Tue, 02 Feb 2021 11:33:10 GMT
recorded_with: VCR 5.1.0
